@import url('https://fonts.googleapis.com/css2?family=Miranda+Sans:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}



.cabecalho {
    display: flex;
    align-items: center;
    margin: 1%;
}

.cabecalho img {
    max-width: 100%;
    height: auto;
}

.cabecalho__menu__nav {
    width: 100%;
}

.cabecalho__menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    margin: 0 12.4% 0 0;
    gap: 2%;
    flex-flow: row wrap;
}

.cabecalho__menu__link a {
    width: 1px;
    font-size: 1.5rem;
    font-weight: 450;
    font-family: "Miranda Sans", sans-serif;
    text-decoration: none;
    color: #1351d8;
}

.cabecalho__menu__link a:hover {
    color: #1268b9;
}



.principal__home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-family: "Miranda Sans", sans-serif;
    margin: 1%;
    flex: 1;
}

.principal__home img {
    max-width: 100%;
    height: auto;
}



.principal__lancamento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 20px;
}

.principal__lancamento iframe {
    max-width: 100%;
    max-height: auto;
}

.principal__lancamento__lista {
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Miranda Sans", sans-serif;
    gap: 50px;
}

.principal__lancamento__lista__carros {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.principal__lancamento__lista__carros__linha {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.principal__lancamento__lista__carros__coluna {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.principal__lancamento__lista__carros__info img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.principal__lancamento__lista__carros__checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.principal__lancamento__lista__carros__checkbox input {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.principal__lancamento__lista__carros__titulo {
    font-size: 1.25rem;
    color: #1351d8;
}

.principal__lancamento__lista__carros__valor {
    font-size: 1rem;
}

.principal__lancamento__botao {
    color: white;
    font-size: 1rem;
    font-family: "Miranda Sans", sans-serif;
    background-color: #1242ac;
    border: none;
    padding: 15px 50px;
    margin: 0 0 20px 0;
    border-radius: 16px;
}

.principal__lancamento__botao:hover {
    color: white;
    background-color: #1268b9;
    cursor: pointer;
}



.principal__contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.principal__contato img {
    width: 463px;
    height: auto;
}

.principal__contato_input {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    font-family: "Miranda Sans", sans-serif;
    gap: 2px;
}

.principal__contato__botao {
    margin-top: 10px;
    padding: 10px;
    background-color: #1242ac;
    color: white;
    border: none;
    border-radius: 16px;
    font-size: 1rem;
}

.principal__contato__botao:hover {
    color: white;
    background-color: #1268b9;
    cursor: pointer;
}

.principal__contato_input input[type="text"] {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 16px;
    font-size: 0.875rem;
}

.principal__contato_input input[type="email"] {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 16px;
    font-size: 0.875rem;
}

.principal__contato_input input[type="number"] {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 16px;
    font-size: 0.875rem;
}

.principal__contato_input select[id="seletor"] {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 16px;
    font-size: 0.875rem;
}



.rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3% 0.8%;
    background-color: #1b2f66;
    color: white;
    font-size: 1rem;
    font-family: "Miranda Sans", sans-serif;
    max-width: 100%;
    height: auto;
}

.rodape img {
    width: 100%;
    height: auto;
}

.rodape__redes_sociais {
    display: flex;
    align-items: center;
    gap: 5px;
}

.rodape__redes_sociais img {
    display: flex;
    max-width: 30px;
    max-height: 30px;
}

.rodape__direitos_autorais {
    margin: 0 6% 0 0;
}



@media (max-width: 850px) {
    .cabecalho {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cabecalho img {
        width: 150px;
        height: auto;
    }

    .cabecalho__menu {
        margin: 0;
        gap: 4%;
        flex-flow: row wrap;
    }

    .cabecalho a {
        font-size: 1.1rem;
    }

    .principal__home {
        text-align: center;
        margin: 3%;
        font-size: 0.8rem;
    }

    .principal__contato {
        flex-direction: column;
    }

    .principal__contato img {
        width: auto;
        max-width: 100%;
        height: auto;
    }

    .principal__contato__botao {
        margin-bottom: 30px;
    }

    .rodape {
        flex-direction: column;
        text-align: center;
        padding-top: 10px;
        gap: 10px;
    }

    .rodape p {
        margin: 0;
    }
}

@media (max-width: 1269px) {
    .principal__lancamento iframe {
        width: 100%;
        aspect-ratio: 16 / 9;
        height: auto;
    }
}